<!DOCTYPE html>
<html>
    <head>
        <title>換句話說系統 - NLP實驗室</title>
        <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', path='/css/lab.png') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="{{ url_for('static', path='/js/control.js') }}"></script>
    </head>
    <body>
        <nav>
            <img src="{{ url_for('static', path='/css/lab.png') }}" width="100px">
            <p id="p">專題生: 楊世宇</p>
        </nav>
        <header>
            <h1>換句話說系統</h1>
            <p>輸入資料，以選擇你想要改變的句子</p>
        </header>
        <hr>
        <div id="flash-div">
            <p class="flash" id="flash"></p>
        </div>
        <div>
            <p class="label"><label for="content">短文</label></p>
            <div id="content" contenteditable="True"></div>
        </div>
        <div>
            <div id="btn-div">
                <button id="check">確認</button>
                <button id="transfer">轉換</button>
                <button id="cancel">取消</button>
                <button id="restart">重置</button>
            </div>
        </div>
        <div id="container">
        </div>

        <footer>
            <p>Demo Website</p>
            <p>中興大學 理學大樓721室 NLP LAB</p>
        </footer>

    </body>
</html>